<?xml version="1.0" encoding="UTF-8"?>
<!--
	第三行加了
	xmlns:context="http://www.springframework.org/schema/context"
	在xsi:schemaLocation中要加入规范文件
	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
	<context:annotation-config/>: 这一句引入命名空间不要忘记
     -->
    <context:annotation-config/>
    <bean id="userService" class="com.ltc.spring01.service.UserService"/>  
    <bean id="userDao" class="com.ltc.spring01.dao.UserDao"/>
    <bean id="accountDao" class="com.ltc.spring01.dao.AccountDao"/>
    <!-- more bean definitions go here -->

</beans>